<div class="jumbotron">
  <div class="container">
    <h1>flimstagram</h1>
    <p>The new home for your photos that no one wants to see</p>
    <p> 
    	<% if user_signed_in? %>
    	    <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary btn-lg') %>
    	<% else %>	
    		<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>

<%= link_to 'Add new post', new_post_path, class: 'btn btn-primary btn-lg'%>

<div class= 'container'>
	<% if @all_posts.none? %>
		<Br/><br/>
			No posts have been made
			0 comments
		<Br/><br/>
	<% else %>
		<div class= 'row'>
			<%= render @all_posts %>
		</div>
	<% end %>
</div>

